@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

body {
  /* background-image: url(../css/images/red4.jpg); */
  /* background-image: url(../css/images/mine/mine5.JPG); */
  background-image: url(../css/images/mine/mt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
  min-height: 100vh;
  background-position-y: 65%;
}


#intro {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* padding: 10vh; */
  margin-left: 10vw;
  margin-top: -10vh;
  height: 100vh;
}

.intro-name {
  color: rgb(255, 196, 142);
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about, #projects, #resume-container {
  margin: 10vh 0 10vh 0;
  padding-top: 10vh;
  /* margin-top: 10vh; */
}

#content-wrap {
  /* padding-bottom: 4rem;*/    /*Footer height */
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.608);
}

* {
  font-family: 'Montserrat', sans-serif;
}

nav {
  top: 0;
  left: 0;
  height: 7vw;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-image: url(../css/images/mine/mt2.jpg);
  background-position-y: 5%;
  background-size: cover;
  
}


#nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgb(240, 167, 58); */
  background: rgba(0, 0, 0, 0.608);
}

#nav-left {
  height: 7vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  padding-left: 3vh;
}

#nav-right {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin: 0 1em 0 1em;
  font-size: 2.3vw;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all ease 0.6s;
  /* transition: all ease-in-out 0.7s; */
}

.nav-item:hover {
  border-color:white;
}


#logo {
  height: 3em;
  border-radius: 50%;
}

.name {
  margin: 0 auto;
  color: white;

}

#about {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 1.5vw 0 1.5vw;
}

#about-title {
  display: flex;
  align-self: flex-start;
}

#about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-items: flex-start; */
}

.about-text {
  font-size: .9em;
}

footer {
  background: black;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  /* height: 10%; */
  /* background-position: bottom; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-items {
  display: flex;
  width: 70%;
  justify-content: space-between;
  /* margin-bottom: 10vh; */
  margin-bottom: 1vh; 
  /* margin-top: 15vh; */
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#experience-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.exp-item {
  width: 45%;
  /* height: 15vw; */
  /* background: rgba(255, 255, 255, 0.403); */
  color: rgb(255, 255, 255);
  /* margin-bottom: 5vw; */
}

.devicon-git-plain {
  max-width: 3em;
  margin: 0 .5em 0 .5em;
  transition: all .2s ease-in-out;
}


.devicon-git-plain:hover {
  transform: scale(1.5); 
}

/* if you want to change the original color
.devicon-git-plain path {
  fill: ;
} */

#node-icon {
  max-width: 5em;
  margin-bottom: -1em;
}

#resume-container {
  width: 90%;
}

 #skills-div, #experience-div, #edu-div  {
  display: flex;
  flex-direction: column;
}

.footer-icon {
  margin: 1vw 2vw 0 2vw;
}

#intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#intro-left {
  width: 60%;
  display: flex;
  align-self: flex-start;
}

#intro-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  
}

/* BUTTON STYLING */
#site-links button {
  color: #ffffff;
  background-color: rgb(66, 81, 102);
  border: 1px solid rgb(10, 4, 3);
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  transition: all 0.2s ease-in-out;
  margin: 0 .2em 0 .2em;
  }
  #site-links button:hover {
  box-shadow: 1px 1px rgb(25, 37, 54), 2px 2px rgb(25, 37, 54), 3px 3px rgb(25, 37, 54);
  transform: translateX(-3px);
  }


/* PROJECT COMPONENT STYLING  */
#projects {
  width: 95%;
  margin-bottom: 0;
}

/* .project-image:hover {
  opacity: 0.0;
} */


.react-multi-carousel-list li {
  margin: 0 .3vw 0 .3vw;
  /* width: 100%; */
}

#project-component {
  width: 100%;
  height: 100%;
  background:rgba(255, 255, 255, 0.156);
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-component:hover img {
  /* opacity: 0.0; */
  filter: blur(10px) invert(30%);
  /* filter: blur(10px); */
}

#project-component:hover .project-info {
  z-index: 1;
  visibility: visible;
}

.job-title {
  margin-bottom: 1vh;
}

.job-bullet {
  text-align: left;
  /* display: none; */
}

.project-image {
  width: 100%;
  
}

.project-info {
  width: 90%;
  height: 90%;
  position: absolute;
  visibility: hidden;
  overflow: scroll;
  /* color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#tech {
  display: flex;
}

#tech li {
  border-radius: 20px;
  list-style-position:inside;
  border: 3px solid rgb(255, 174, 98);
  background: rgb(255, 196, 142);
  padding: .5em .5em .5em .5em;
  list-style-type: none;
  margin-bottom: 1em;
  color: white;
}


#arrow {
  margin: 0;
}

#arrow:hover {
  color: rgb(252, 196, 156);
  cursor: pointer;
}

/* .resume-header {
  text-align: left;
} */

#projects-header {
  text-align: left;
  margin-bottom: 3vh;
}

#contact-header {
  font-size: 2em;
  z-index: 1;
}

#intro-text {
  font-size: 1em;
  margin-bottom: .2em;
}

#descriptor {
  margin-top: .2em;
}


/* !!!!! contact form styling */
/* some parts taken from: https://codepen.io/bobbykorec/pen/qOGbyr */

.animate-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(7, 7, 7);
  z-index: -1;
}
#contact-items {
  width: 45%;
}

#contact-form {
  width: 45%;
}

 form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
}

textarea {
  height: 50%;
}

input {
  height: 10%;
}

.form-control, textarea {
  /* max-width: 400px; */
  max-width: 100%;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  margin: 1em 0 1em 0;
}

.send-button {
  /* margin-top: 15px; */
  /* height: 34px;
  width: 400px; */
  height: 2em;
  overflow: hidden;
  transition: all .2s ease-in-out;
  /* background: orange; */
}

.button {
  /* width: 400px;
  height: 34px; */
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -25px, 0px);
}

.form-control, textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  border-color: #BBBBBB;
  border-width: 1px;
  border-radius: 5px;
  
}


/* Social Media Icons */

.social-media-list {
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0; 
}

.social-media-list li a {
  color: #fff;
  width: 5px;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 10px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
  /* changed this from white to black because I moved the a tag to the outside w/ li inside */
  color: black;
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  
}

.list-item {
  line-height: 4;
  color: #aaa;
  /* display: flex;
  justify-content: space-between; */
}

.contact-text {
  letter-spacing: 1.9px;
  color: #bbb;
}

.place, .phone, .gmail {
  margin-left: 3em;
}

#email {
  overflow: scroll;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-icon {
  width: 45%;
  padding-top: 14px;
}


hr {
  width: 100%;
  border-color: rgba(255,255,255,.8);
}


/* !!!!glow hover styling */

#download-resume {
  /* transform: translate(-50%,-50%); */
  transition: 0.5s;
  border-radius: 20px;
  text-decoration: none;
  color:rgb(252, 196, 156);
  padding: .2em;

}

#download-resume:hover {
    background: white;
    background: rgb(252, 196, 156);
    color: white;
    /* box-shadow: 0 0 10px rgba(255,255,255,1),
                0 0 20px rgba(255,255,255,1),
                0 0 30px rgba(255,255,255,1),
                0 0 0 75px rgba(255,255,255,0.05),
                0 0 0 60px rgba(255,255,255,0.05),
                0 0 0 45px rgba(255,255,255,0.05),
                0 0 0 30px rgba(255,255,255,0.05),
                0 0 0 15px rgba(255,255,255,0.05); */
      box-shadow: 0 0 .5em rgba(255,255,255,1),
                0 0 1em rgba(255,255,255,1),
                0 0 1.5em rgba(255,255,255,1),
                0 0 0 2.5em rgba(255,255,255,0.05),
                0 0 0 2em rgba(255,255,255,0.05),
                0 0 0 1.5em rgba(255,255,255,0.05),
                0 0 0 1em rgba(255,255,255,0.05),
                0 0 0 .5em rgba(255,255,255,0.05);
}
