.App {
  text-align: center;
}

body {
  /* background-image: url(../css/images/red4.jpg); */
  background-image: url(../css/images/mine/mine5.JPG);
  background-image: url(../css/images/mine/mt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
  min-height: 100vh;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro, #about, #projects, #resume-container {
  /* margin: 10vw 0 10vw 0; */
  height: 100vh;
  margin-top: 10vh;
}

#content-wrap {
  /* padding-bottom: 4rem;*/    /*Footer height */
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.608);
}

* {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 7vw;
  width: 100%;
  position: fixed;
  margin-bottom: 5vw;
}

nav

#nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgb(240, 167, 58); */
}

#nav-left {
  height: 7vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  padding-left: 3vh;
}

#nav-right {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin: 0 1em 0 1em;
  font-size: 2.3vw;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all ease 0.6s;
  /* transition: all ease-in-out 0.7s; */
}

.nav-item:hover {
  border-color:white;
}


#logo {
  height: 3em;
  border-radius: 50%;
}

.name {
  margin: 0 auto;
  color: white;

}

#about {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 1.5vw 0 1.5vw;
}

#about-title {
  display: flex;
  align-self: flex-start;
}

#about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-items: flex-start; */
}

.about-text {
  font-size: .9em;
}

footer {
  background: black;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 10%;
  /* background-position: bottom; */
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#experience-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.exp-item {
  width: 45%;
  /* height: 15vw; */
  /* background: rgba(255, 255, 255, 0.403); */
  color: rgb(255, 255, 255);
  /* margin-bottom: 5vw; */
}

.devicon-git-plain {
  max-width: 3em;
  margin: 0 .5em 0 .5em;
}

/* if you want to change the original color
.devicon-git-plain path {
  fill: ;
} */

#node-icon {
  max-width: 5em;
  margin-bottom: -1em;
}

#resume-container {
  width: 90%;
}

#resume-div, #skills-div, #experience-div, #edu-div  {
  display: flex;
  flex-direction: column;
}

.footer-icon {
  margin: 1vw 2vw 0 2vw;
}

#intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#intro-left {
  width: 60%;
  display: flex;
  align-self: flex-start;
}

#intro-right {
  width: 40%;
}

/* BUTTON STYLING */
button {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  transition: all 0.2s ease-in-out;
  }
  button:hover {
  box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
  transform: translateX(-3px);
  }


/* PROJECT COMPONENT STYLING  */
#projects {
  width: 90%;

}
#project-component {
  width: 100%;
  height: 25vw;
  background:rgba(255, 255, 255, 0.156);
  background-size: cover; 
}

#project-img {
  width: 100%;
  height: 100%;

}

.job-title {
  margin-bottom: 1vh;
}

.job-bullet {
  text-align: left;
  /* display: none; */
}

/* image hover styling */
.project-image {
  width: 100%;
  opacity: 0.3;

}

/* .project-image:hover {
  opacity: 0.3;
}

.project-info {
  visibility: hidden;
}

#project-component:hover .project-info {
  visibility: visible;
  background: pink;
  color: black;
} */

#arrow {
  margin: 0;
}

#arrow:hover {
  color: rgb(249, 175, 121);
  cursor: pointer;
}

/* .resume-header {
  text-align: left;
} */

#projects-header {
  text-align: left;
}

#intro-text {
  font-size: 1em;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

input, textarea {
  background: black;
  outline: white;
}

#contact-form {
  background: orange;
  width: 40%;
}

/* messing around with stars */
@keyframes STAR-MOVE {
	from {
    top: 0;
	}
	to { 
    top: -2000px;
	}
}
/* 
#background {
  background: url(../css/images/stars/midground.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	animation-name: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#midground {

	background: url(../css/images/stars/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	animation-name: STAR-MOVE;
	animation-duration: 150s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#foreground {
	background: url(../css/images/stars/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	animation-name: STAR-MOVE;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
} */